@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
	font-family: 'Montserrat', sans-serif;
	background-color: #170c14;
	color: #fff;
    width: 100%;
    height: 100%;
}

@-ms-keyframes spinner {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spinner {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spinner {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

body.highlight:after {
    display: block;
    content: 'Drop file to upload';
    font-size: 50px;
    text-align: center;
    background: rgb(6, 6, 6);
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

body.loading:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
    z-index: 1000000;
    margin-left: -150px;
    margin-top: -15px;
    border-radius: 30px;
}

body.loading:after {
    display: block;
    content: 'Loading';
    font-size: 50px;
    text-align: center;
    background: rgb(6, 6, 6);
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 30px;
    width: 500px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

a { color: #e83e8c; }
a:hover { color: #c81768; text-decoration: none;}

.uploads {
	font-size: 16px;
}

.download {
    margin: 0 auto;
    text-align: center;
    padding-top: 13%;
    font-size: 24px;
}

.pftitle {
    font-size: 22px;
    border-bottom: 1px solid #2a1a24;
    padding-bottom: 18px;
}

.prevfilecont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.prevfilecont p {
    max-width: 90px;
    padding: 0px;
    font-size: 11px;
    padding: 0 10px;
}

.prevfilecont a {
    font-size: 13px;
}

.PrevFiles {
    margin: 0 auto;
    text-align: center;
    padding-top: 70px;
    font-size: 13px;
    line-height: 24px;
}

.header {
	height: 200px;
	width: 100%;
	padding-top: 15px;
	background-image: url("../img/banner2.jpg");
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0px;
    right: 0px;
    text-align: center;
    background: #080808;
    /* padding: 5px 0 5px 0; */

    display: flex;
    justify-content: space-between;
    padding: 5px 40px;
    z-index: 1000000;
}
.footer p {
    font-size: 12px;
    margin: 0;
}

.footer p a {
    color: #e83e8c;
}

.footer p a:hover {
    color: #c81768;
}

.cookies {
	font-size: 10px;
	font-style: italic;
}

#uploadWrapper {
	padding: 0 40px;
}

#uploader {
    text-align: center;
    border-radius: 5px;
    background: rgb(33, 37, 41);
    width: 100%;
    height: 80px;
    font-size: 24px;
    margin: 50px auto 0;
    line-height: 75px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
}

#uploader.highlight {
	background: #212021;
}

.uploadForm {
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.spinner {
	display: inline-block;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
	from { -ms-transform: rotate(0deg); }
	to { -ms-transform: rotate(360deg); }
}

@-moz-keyframes spin {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	from {
	    transform:rotate(0deg);
	}
	to {
	    transform:rotate(360deg);
	}
}