@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Dosis');

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #24262c;
	color: #fff;
	color: #d11212;
}

.uploads {
	font-size: 16px;
}

.header {
	height: 200px;
	width: 100%;
	padding-top: 15px;
}