@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #170c14;
	color: #fff;
}

.uploads {
	font-size: 16px;
}

.header {
	height: 200px;
	width: 100%;
	padding-top: 15px;
	background-image: url("../img/banner2.jpg");
	background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.cookies {
	font-size: 10px;
	font-style: italic;
}

#uploader {
	margin-top: 100px;
	padding-top: 80px;
	text-align: center;
	border-radius: 15px;
	background: #60575e;
	width: 400px;
	height: 350px;
	border: 2px dashed #000;
	font-size: 24px;
}

#uploader.highlight {
	background: #212021;
}

.uploadForm {
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}